@charset 'UTF-8';
@use 'libs/sass' as *;
@use 'libs/libs' as l with ( $handle: 'gallery' );

.gallery {
    @supports (aspect-ratio: 1/1) {
        &.#{l.$handle}-ratio-1-1,
        &.#{l.$handle}-ratio-4-3,
        &.#{l.$handle}-ratio-16-9,
        &.#{l.$handle}-ratio-21-9,
        &.#{l.$handle}-ratio-3-4,
        &.#{l.$handle}-ratio-9-16,
        &.#{l.$handle}-ratio-9-21 {
            .gallery-item {
                .gallery-icon {
                    > a {
                    }
                }
            }
        }
        &.#{l.$handle}-ratio-1-1 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 1/1;
                }
            }
        }
        &.#{l.$handle}-ratio-4-3 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 4/3;
                }
            }
        }
        &.#{l.$handle}-ratio-16-9 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 16/9;
                }
            }
        }
        &.#{l.$handle}-ratio-21-9 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 21/9;
                }
            }
        }
        &.#{l.$handle}-ratio-3-4 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 3/4;
                }
            }
        }
        &.#{l.$handle}-ratio-9-16 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 9/16;
                }
            }
        }
        &.#{l.$handle}-ratio-9-21 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 9/21;
                }
            }
        }
    }

    &.#{l.$handle}-fit-auto {
        .gallery-item {
            .gallery-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
            &:not(:has(figcaption)) {
                .gallery-icon {
                    height: 100%;
                }
            }
        }
    }
    &.#{l.$handle}-fit-contain {
        .gallery-item {
            .gallery-icon {
                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &.#{l.$handle}-fit-cover {
        .gallery-item {
            .gallery-icon {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &.#{l.$handle}-gap-{
        @for $i from 0 through 9 {
            &#{$i} {
                gap: #{$i * l.$spacer};
            }
        }
    }
}
