@charset 'UTF-8';
@use 'libs/sass' as *;
@use 'libs/libs' as l with ( $handle: 'gallery' );

#tinymce {
	.gallery {
		margin: 0;
		padding: l.$spacer * .5;

		img {
	        max-width: map-get(l.$breakpoints, lg);
		}

		> br {
			display: none;
		}

		.gallery-item {
			float: none;
			width: auto;
			padding: 0;
        	text-align: center;

			.gallery-icon {
	            height: 100%;
	            overflow: hidden;

				img {
	                object-fit: cover;
	                width: 100%;
	                height: 100%;
				}
			}

		}

		&.gallery-columns-{
            @for $i from 1 through 9 {
                &#{$i} {
					display: grid;
					grid-auto-flow: row;
					gap: l.$spacer;
					grid-template-columns: repeat($i, minmax(0, 1fr));
                }
            }
		}
	}
}
